header {
  color: white;
  text-align: center;
  background-color: #4caf50;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-left: 0px;
  margin-top: 0px;
  padding: 25px 0px;
}
header h1 {
  margin: 0px;
  font-size: 2.5rem;
}
